<div class="row box">
  <div class="col-12">
    <div class="row">
      <div class="col-3 box">
        <strong>Student</strong>
      </div>
      <div class="col-9 box">
        <div class="row">
          <div class="col-2">
            <strong>Q1</strong>
          </div>
          <div class="col-2">
            <strong>Q2</strong>
          </div>
          <div class="col-2 average">
            <strong>S1</strong>
          </div>
          <div class="col-2">
            <strong>Q3</strong>
          </div>
          <div class="col-2">
            <strong>Q4</strong>
          </div>
          <div class="col-2 average">
            <strong>S2</strong>
          </div>
        </div>
      </div>
    </div>
    <% section.students.order(:last_name, :first_name).each do |student| %>
      <% registration = Registration.find_by(student_id: student.id, section_id: section.id) %>
      <% if section.published %>
        <div class="row alternating-row">
          <div class="col-3 ">
            <%= link_to student.full_name, all_grades_student_path(student) %>
          </div>
          <div class="col-9 ">
            <div class="row">
              <div class="col-2">
                <td><%= registration.quarterly_scores.find_by(quarter: :q1)&.grade %></td>
              </div>
              <div class="col-2">
                <td><%= registration.quarterly_scores.find_by(quarter: :q2)&.grade %></td>
              </div>
              <div class="col-2">
                <td class="average"><%= registration.s1_average %></td>
              </div>
              <div class="col-2">
                <td><%= registration.quarterly_scores.find_by(quarter: :q3)&.grade %></td>
              </div>
              <div class="col-2">
                <td><%= registration.quarterly_scores.find_by(quarter: :q4)&.grade %></td>
              </div>
              <div class="col-2">
                <td class="average"><%= registration.s2_average %></td>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>