<div class="row box">
  <div class="col-6">
    <table>
      <thead>
        <tr>
          <th>Student</th>
          <th>Q1</th>
          <th>Q2</th>
          <th class="average">S1</th>
          <th>Q3</th>
          <th>Q4</th>
          <th class="average">S2</th>
        </tr>
      </thead>
      <tbody>
        <% section.students.order(:last_name, :first_name).each do |s| %>
          <% r = Registration.find_by(student_id: s.id, section_id: section.id) %>
          <tr>
            <td><%= s.full_name %></td>
            <td><%= r.q1_grade %></td>
            <td><%= r.q2_grade %></td>
            <td class="average"><%= r.s1_average %></td>
            <td><%= r.q3_grade %></td>
            <td><%= r.q4_grade %></td>
            <td class="average"><%= r.s2_average %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>