<h2>Grades</h2>

<%= link_to "Click to view all grades", admin_view_all_grades_path %>

<div class="row">
	<div class="col-md-9">
		<div class="table-wrapper">
			<table class="table table-hover">
        <thead>
          <tr>
            <th>Registration Period</th>
            <th>Course</th>
            <th>Section</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @sections.each do |s| %>
            <tr>
              <td><%= s.registration_period.name %></td>
              <td><%= s.course.name %></td>
              <td><%= s.name %></td>
              <td><%= link_to "View", admin_section_view_grades_path(s.id) %></td>
              <td><%= link_to "Edit", admin_section_edit_grades_path(s.id) %></td>
            </tr>
          <% end %>
        </tbody>
			</table>
		</div>
	</div>
</div>
