<%= simple_form_for @student do |f| %>
  <% if @errors %>
    <% @errors.each do |e| %>
      <div class="alert error-section"><%= e %></div>
    <% end %>
  <% end %>
  <!-- student information section -->
  <div class="row box">
    <%= f.input :first_name, class: "required" %>
    <%= f.input :last_name, class: "required" %>
    <%= f.input :nickname %>
    <%= f.input :grade, label: "Student's Grade (2024/25)", collection: 5..12, class: "required" %>
    <%= f.input :date_of_birth,
                as: :string,
                input_html: { class: "required datepicker",
                              data: {provide: "datepicker", date_default_view_date: "1/1/2011" } } %>
    <%= f.input :pronouns, as: :select, collection: Student::PRONOUN_OPTIONS %>
    <%= f.input :race, as: :select, collection: Student::RACE_OPTIONS %>
  </div>
  <!-- End student information section -->

  <!-- Parent Information section -->
  <div class="row box">
    <%= f.simple_fields_for :parent do |p| %>
      <%= p.input :email, label: "Parent's Email", input_html: { value: current_parent.email, readonly: true } %>
      <%= p.input :name, label: "Parent's Name", input_html: { value: current_parent.full_name, readonly: true } %>
      <%= p.input :phone, label: "Parent's Phone", input_html: {
        value: current_parent.phone_number, readonly: true } %>
    <% end %>
  </div>
  <!-- end parent information section -->

  <!-- additional information section -->
  <div class="row box">
    <%= f.label "Does your child have any learning differences or requirements?  " %>
    <p class="learning-differences-description">   If so, please click the button below and we will ask for more detail later</p>
    <%= f.input :learning_differences_flag, label: "Learning Differences" %><br />
  </div>

  <div class="row box">
    <%= f.input :emergency_contact, class: "required" %>
    <%= f.input :emergency_phone, class: "required" %>
  </div>
  <div class="row">
     <%= f.submit "Save", class: "custom-button" %>
  </div>
<% end %>
