<h2>Courses</h2>
Here are the courses for which <%= @student.full_name %> is eligible. Hover over course to see its description.
<% if browser.device.mobile? || browser.device.tablet? %>
  <div class="row">
    <%= link_to( "Begin Registration",
          { controller: "registrations", action: "index", student_id: @student.id },
          class: "custom_button" )
    %>
  </div>


<% end %>
<div class="row">
  <div class="col-md-6 col-xs-12">
    <% @subject_areas.each do |subject| %>
      <div class="row box">
        <h4 class="subject"><%= subject %></h4>
        <div class="col-md-12">
          <% @available_courses.each do |course| %>
            <%= render("course_tile", course: course) if course.subject_area == subject %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-6">
    <h3>
    <%= link_to( 
      "Begin Registration",
      register_path(
        student_id: @student.id,
        registration_period_id: @rp.id
      ), 
      class: "custom-button"
    ) %>
    </h3>
  </div>
<div>

