<h5>Release of Liability</h5>
<h6>Read Carefully - This Affects Your Legal Rights</h6>
<%= simple_form_for [@parent, @release_of_liability], url: { method: @http_method, action: @form_action }, html: { readonly: @read_only } do |f| %>
  
  <%= f.hidden_field :student_id, value: @student.id %>
  <%= f.hidden_field :parent_id, value: @parent.id %>
  <%= f.hidden_field :registration_period_id, value: @rp.id %>
  <p>You may complete this form <strong>once</strong> per family.</p>
  <p>
    LIABILITY RELEASE *
  </p>
  <p>
    (required)
  </p>
  <p>
    In exchange for participation in activities and classes and/or the use of property, 
    facilities and services organized by Weekday Eastside Bridge, hereinafter “WEB”, 
    located at Donelson Heights United Methodist Church, 84 Fairway Drive, Nashville, TN 
    37214, I agree for myself, my Student and, if applicable, my family, hereinafter “I” or 
    “me” to the following:
  </p>
  <p>
    <h6>1. WAIVE AND HOLD HARMLESS </h6>
    In consideration of my registration and participation at WEB, I: (A) Waive, Release and Discharge from any and all liability Senae Smith, WEB, their directors, officers, teachers, volunteers, representatives and agents for death, diseases acquired or transmitted (by insects, or other animals and plants, by other participants such as the flu, COVID-19 and other infections), allergic reactions, disability, personal injury, property damage, property theft or actions of any kind which may occur; (B) Indemnify and Hold Harmless, and Agree Not To Sue Senae Smith, WEB, their directors, officers, teachers, volunteers, representatives and agents from any and all liabilities or claims made as a result of participation at WEB, whether caused by their negligence or otherwise. I understand Senae Smith and any WEB staff are not responsible for any lost, stolen, or damaged valuables or property while on the premises.
  </p>
  <p>    
    <h6>2. ASSUMPTION OF THE RISKS AND RELEASE</h6> 
    I recognize that there are certain inherent risks associated with the above described activity and I assume full responsibility for personal injury to me and further release and discharge WEB for injury, loss or damage arising out of my use of or presence upon the facilities of WEB, whether caused by the fault of myself, my family, WEB or other third parties.
  </p>
  <p>
    <h6>3. INDEMNIFICATION</h6> 
    I agree to indemnify and defend WEB against all claims, causes of action, damages, judgments, costs or expenses, including attorney fees and other litigation costs, which may in any way arise from my or my family's use of or presence upon the facilities of WEB.
  </p>
  <p>    
    <h6>4. FEES</h6> 
    I agree to pay for all damages to the facilities or equipment of WEB caused by any negligent, reckless, or willful actions by me, my Student or my family. I agree to pay all fees owed to WEB for my participation.
  </p>
  <p>    
    <h6>5. ILLNESS</h6> 
   With regards to the risk of contracting or disseminating communicable infections, I promise to keep my child home if they exhibit signs of sickness (fever, vomiting, etc) and understand that WEB may need to implement restrictions if certain outbreaks occur (Flu, Covid) which may include masking or moving to virtual school for a period of time.
  </p>
  <p>    
    <h6>6. APPLICABLE LAW</h6> Any legal or equitable claim that may arise from participation in the above shall be resolved under Tennessee law.
  </p>
  <p>    
    <h6>7. NO DURESS</h6> I agree and acknowledge that I am under no pressure or duress to sign this Agreement.
  </p>
  <p>    
    <h6>8. ARM'S LENGTH AGREEMENT</h6> This Agreement and each of its terms are the product of an arm's length negotiation between the Parties. In the event any ambiguity is found to exist in the interpretation of this Agreement, or any of its provisions, the Parties, and each of them, explicitly reject the application of any legal or equitable rule of interpretation which would lead to a construction either "for" or "against" a particular party based upon their status as the drafter of a specific term, language, or provision giving rise to such ambiguity.
  </p>
  <p>  
    <h6>9. ENFORCEABILITY</h6> The invalidity or unenforceability of any provision of this Agreement, whether standing alone or as applied to a particular occurrence or circumstance, shall not affect the validity or enforceability of any other provision of this Agreement and such invalid or unenforceable provision shall be deemed not to be a part of this Agreement.
  </p>
  <p>  
  <p>
    <div class="row"><%= f.input :waiver_terms, label: "I have read this waiver and agree with these terms.", required: true %></div>
  </p>
  <div class="row">
    <div class="col-md-10">
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>Parent/Guardian Name</p>
      <%= f.simple_fields_for @parent do |parent_form| %>
        <%= parent_form.hidden_field :id, as: :hidden, input_html: { value: @parent.id } %>
        <%= parent_form.input :first_name, input_html: { value: @parent.first_name } %>
        <%= parent_form.input :last_name, input_html: { value: @parent.last_name } %>
      <% end %>
    </div>
  </div></div>

  <div class="row">
    <div class="col-md-10">
      <p>
        This consent form will apply to the following students:
      <ul>
      <% @parent.students.each_with_index do |student, i| %> 
        <li><%= student.full_name %></li>
      <% end %>
      </ul>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <h6>Parent/Guardian Signature *</h6>
      <div class="row">
        I understand & agree this is a legal representation of my signature.
      </div>
      <div class="row"><%= f.input :signature, label: "Please type your full name", required: true %></div>
    </div>
  </div>
  <div class="row">
    <%= f.submit "SUBMIT", class: 'btn btn-primary col-md-10' %>
  </div>
<% end %>