<h1>Come visit the WEB Tutorial.</h1>
<h2>Now choose a shadow time:<h2>
<%= form_for @student do |f| %>
  <%= f.label :parent_first_name %>: <strong><%= @student.parent_first_name %></strong><br />
  <%= f.label :parent_last_name %>: <strong><%= @student.parent_last_name %></strong><br />

  <%= f.label :first_name %>: <strong><%= @student.first_name %></strong><br />
  <%= f.label :last_name %>: <strong><%= @student.last_name %></strong><br />

  <%= f.collection_select :shadow_spot, ShadowSpot.select{ |ss| ss.subject_grade == @grade }, :id, :name_for_select %><br />

  <%= f.submit %>
<% end %>
