<div class='container'>
  <h1>Sign up for a shadow spot below</h1>
  <div id="student_shadows">
  <%= form_for(StudentShadow.new, remote: true, html: { class: "new-student-shadow-form" }) do |f| %>
    <div class="form-group">
      <%= f.label "Student: " %>: <strong><%= @student.full_name %></strong><br>
    </div>

    <div class="form-group">
      <%= f.collection_select :shadow_spot, ShadowSpot.select{ |ss| ss.subject_grade == @grade }, :id, :name_for_select %><br />
    </div>

      <%= f.submit "Sign up for this shadow slot", class: "new-student-submit-button" %>
  <% end %>
  </div>
</div>
