<div class='container' id="new_student_shadow_container">
  <!-- Heading -->
  <% if @student.shadow_spots.empty? %>
    <h1 class='student-shadow-form'>Sign up for a shadow spot below</h1>
  <% else %>
    <h1 class='student-shadow-form'>Edit schedule</h1>
  <% end %>
  <!-- begin student_shadows form -->
  <div id="student_shadows">
    <%= form_for(StudentShadow.new, remote: true, html: { class: "new-student-shadow-form" }) do |f| %>
      <%= f.hidden_field :student_id, value: @student.id %>
      <div id="current_student_shadows" class="form-group">
        <%= f.label "Student: " %>: <strong><%= @student.full_name %></strong><br>
        <% unless @student.shadow_spots.empty? %>
          <%= render "student_shadow_list" %>
        <% end %>
      </div>
      <!-- selection box -->
      <% if @should_show_selection_box %>
        <div class="form-group" id="shadow-spot-selection">
          <%= f.collection_select :shadow_spot_id, @available_shadow_spots, :id, :name_for_select %><br />
        </div>
      <% end %>

      <!-- Determine text of button -->
      <% if @student.shadow_spots.empty? %>
        <%= f.submit "Sign up for this shadow slot", class: "new-student-submit-button" %>
      <% elsif @student.shadow_spots.count == 1 %>
        <%= f.submit "Add additional class", class: "new-student-submit-button" %>
        <p><%= link_to "Accept Schedule", root_path, class: "button btn new-student-submit-button" %><br />
        <%= link_to "Change Date", {
          controller: "student_shadows",
          action: "new",
          student_id: @student.id,
          commit: "Change Date"
          }, class: "button btn new-student-submit-button" %></p>
      <% elsif @student.shadow_spots.count > 1 && !@should_show_selection_box %>
        <%= f.submit "Change Date", class: "new-student-submit-button" %>
        <p><%= link_to "Accept Schedule", root_path, class: "button btn new-student-submit-button" %></p>
      <% else %>
        <%= f.submit "Add This Class", class: "new-student-submit-button" %>
        <p><%= link_to "Accept Previous Schedule", root_path, class: "button btn new-student-submit-button" %></p>
      <% end %>
    <% end %>
    <% if @student.should_be_offered_lunch? %>
      <%= form_for(@student, remote: true, html: { class: 'lunch-select-form' }) do |f| %>
        <%= f.hidden_field :id, value: @student.id %>
        <label class='lunch-select'>
          <%= check_box_tag(
            'lunch',
            1,
            @student.lunch?,
            data: { remote: true, url: change_lunch_path(@student), method: :post }
          ) %>
          Check here if this student is staying for lunch
        </label>
      <% end %>
    <% end %>
  </div><!-- end student_shadows form -->

</div>
