<div class='container'>
  <% if @student.shadow_spots.empty? %>
    <h1>Sign up for a shadow spot below</h1>
  <% else %>
    <h1>Edit schedule</h1>
    <p><strong><i>Choosing a different date below will release the shadow spots that are already scheduled.</i></strong></p>
  <% end %>
  <div id="student_shadows">
  <%= form_for(StudentShadow.new, remote: true, html: { class: "new-student-shadow-form" }) do |f| %>
    <%= f.hidden_field :student_id, value: @student.id %>
    <div id="current_student_shadows" class="form-group">
      <%= f.label "Student: " %>: <strong><%= @student.full_name %></strong><br>
      <% unless @student.shadow_spots.empty? %>
        <%= render "student_shadow_list" %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.collection_select :shadow_spot_id, @available_shadow_spots, :id, :name_for_select %><br />
    </div>

    <% if @student.shadow_spots.empty? %>
      <%= f.submit "Sign up for this shadow slot", class: "new-student-submit-button" %>
    <% else %>
      <%= f.submit "Change Schedule", class: "new-student-submit-button" %>
    <% end %>
  <% end %>
  </div>
</div>
