<div class="row tuition-message">
  <div class="col-md-11 col-xs-11">
    You have chosen the following tuition payment options:
    <ul>
    <li><h5><%= current_parent.tuition_preference %></h5></li>
    <li><h5><%= current_parent.payment_preference %></h5></li>
    </ul>
  </div>
  <div id="tuition-preference-form" class="row tuition-preference-form">
    <div id="tuition-preference-form-link" class=" col-md-10 col-xs-offset-1 col-xs-11">
      <%= link_to "Click here to change payment options", "#", id: "load_tuition_preference_form" %>
    </div>
    <div id="tuition-preference-actual-form" class="row tuition-payment-plan-selection">
      <div class="col-md-10 col-xs-offset-1 col-xs-11">
        Please select your payment schedule:
        <%= form_for(current_parent, url: { action: "update_tuition_preference" }) do |f| %>
          <div class="row">
            <div class="col-md-12 col-xs-12">
              <% %w(Annual Semester Monthly).each do |plan| %>
                <% case plan %>
                <% when "Annual" %>
                  <% total = "$#{@annual}/yr." %>
                <% when "Semester" %>
                  <% total = "$#{@semester}/sem." %>
                <% when "Monthly" %>
                  <% total = "$#{@monthly}/mo." %>
                <% end %>
              <div class="row">
                <%= f.radio_button :tuition_preference, plan %>
                <%= f.label :tuition_preference, "#{plan} #{total}" %>
              </div>
              <% end %>
            </div>
          </div>
      </div>
      <div class="col-md-9 col-xs-offset-1 col-xs-11">
        How will you pay fees? (Note: Debit/Credit payment will incur 3% fee)
        <div class="row tuition-payment-plan-selection">
          <div class="col-md-12 col-xs-12">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                  <% %w(Cash/Check ACH Debit/Credit).each do |pay_pref| %>
                    <div class="row">
                    <%= f.radio_button :payment_preference, pay_pref %>
                    <%= f.label :payment_preference, pay_pref %>
                    </div>
                  <% end %>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10">
              <%= f.submit "Update Payment", class: "col-md-2 col-xs-8 custom-button payment-button" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
