<div class="row tuition-message">
  <div class="col-md-11 col-xs-11">
    You have chosen the following tuition payment options:
    <ul>
    <li><h5><%= current_parent.tuition_preference %></h5></li>
    <li><h5><%= current_parent.payment_preference %></h5></li>
    </ul>
  </div>
  <div id="tuition-preference-form" class="row tuition-preference-form">
    <div id="tuition-preference-form-link" class=" col-md-10 col-xs-offset-1 col-xs-11">
      <%= link_to "Click here to change payment options", "#", id: "load_tuition_preference_form" %>
    </div>
    <div id="tuition-preference-actual-form" class="row tuition-payment-plan-selection">
      <div class="col-md-10 col-xs-offset-1 col-xs-11">
        Please select your payment schedule:
        <%= simple_form_for(current_parent, url: { action: "update_tuition_preference" }) do |f| %>
          <div class="row">
            <%= f.input :tuition_preference, label: "Payment Schedule", as: :select, collection: %w(Semester Monthly) %>
          </div>
          <div class="row">
            <%= f.input :payment_preference, label: "Payment Type", as: :select, collection: %w(Cash/Check ACH Debit/Credit)%>
          </div>
          <%= f.submit "Update Payment", class: "btn-standard" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
