<div class="registration-progress-bar-nav-item box col">
  <%= link_to "Choose Classes", "#" %>
</div>
<div class="registration-progress-bar-nav-item box col">
  <%= link_to "Parent Agreement", "#" %>
</div>
<div class="registration-progress-bar-nav-item box col">
  <%= link_to "Liability Waiver", "#" %>
</div>
<div class="registration-progress-bar-nav-item box col">
  <%= link_to "Photo Consent", "#" %>
</div>
<div class="registration-progress-bar-nav-item box col">
  <%= link_to "Pay Fees", "#" %>
</div>