<div class="registration-progress-bar-nav-item box col">
  <%= link_to "Choose Classes", register_path( student_id: @student.id, registration_period_id: @rp.id) %>
</div>
<div class="registration-progress-bar-nav-item box col">
  <%= link_to(
    "Parent Agreement", 
    new_parent_parent_agreement_path(current_parent.id),
  ) %>
</div>
<div class="registration-progress-bar-nav-item box col">
  <%= link_to "Liability Waiver", "#" %>
</div>
<div class="registration-progress-bar-nav-item box col">
  <%= link_to "Photo Consent", "#" %>
</div>
<div class="registration-progress-bar-nav-item box col">
  <%= link_to "Pay Fees", "#" %>
</div>