$selectedSection = $("#section-<%= @section.id %>")
$duplicateSection = $(".twice_a_week#section-<%= @section.id %>")

<% if @registered %>
  $selectedSection.addClass("registered");
  if ($duplicateSection.length > 0) {
    $duplicateSection.addClass("registered");
  }
  $("#tuition-total").text("<%=@student_tuition_total%>")
  $("#course-fees").text("<%=@course_fees%>")
<% else %>
  $selectedSection.append("<br><span class='alert'><%= @error_content %></span>");
<% end %>

<% if @class_is_full %>
  if (window.confirm("Class is full. Would you like to be added to the wait list")) {
    $.ajax({
      url: "/registrations/add_to_wait_list?section_id=" + <%= @section.id %> + "&student_id=" + <%= @student.id %>,
      success: function(){
        window.alert("<%= "You have been added to the wait list for #{@section.name}" %>");
      }
    });
  }
<% end %>