<h2>Update Parent Info</h2>
<div class="row">
  To register, we need to know just a little more about you:
</div>
<div class="row">
  <%= simple_form_for(current_parent, url: { action: "update_parent", id: current_parent.id, student_id: @student_id }) do |f| %>
    <% if @errors %>
      <% @errors.each do |e| %>
        <div class="alert error-section"><%= e %></div>
      <% end %>
    <% end %>
    <!--  parent information section -->
    <div class="row box">
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :secondary_email, label: "Secondary Email (for partner or different email for WEB communications)" %>
      <%= f.input :phone_number %>
      <%= f.input :street_address_1 %>
      <%= f.input :city %>
      <%= f.input :street_address_2 %>
      <%= f.input :state %>
      <%= f.input :zip_code %>
    </div>
    <!-- end parent information section -->
    <div class="col-md-offset-5 col-md-2">
     <%= f.submit "Save" %>
    </div>
  <% end %>
</div>
