<h2>Finalize Registration</h2>
<script src="https://js.stripe.com/v3/"></script>
<div class="row">
  <div class="box shadow col-md-12 col-xs-12 col-sm-12">
    <div class="col-md-12 col-sm-8">
      <h4>Registration & Admin Fees</h4>
      <% @enrolled_students.each do |s| %>
        <div class="row">
          <div class="col-md-offset-4 col-md-6 col-xs-10 col-sm-10">
            <%= s.full_name %> Registration Fee
          </div>
          <div class="invoice-amounts col-md-2 col-xs-2 col-sm-2">
            $<%= @registration_fee %>
          </div>
        </div>
      <% end %>
      <% if @discount %>
        <div class="row">
          <div class="col-md-offset-4 col-md-6 col-xs-10 col-sm-10">
            Family Discount (multiple enrollees)
          </div>
          <div class="invoice-amounts col-md-2 col-xs-2 col-sm-2">
            $<%= @discount %>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-md-offset-4 col-md-6 col-xs-10 col-sm-10">
          Administrative Fee
        </div>
        <div class="invoice-amounts col-md-2 col-xs-2 col-sm-2">
          $<%= @administrative_fee %>
        </div>
      </div>
      <div class="row invoice-total">
        <div class="col-md-offset-4 col-md-6 col-xs-10 col-sm-10">
          <h5>Total Due</h5>
        </div>
        <div class="col-md-2 col-xs-2 col-sm-2">
          <h5>$<%= @invoice_total %></h5>
        </div>
      </div>
      <div class="row">
        In order to reserve your <%= @current_parent.enrolled_students_count > 1 ? "students'" : "student's" %> spot, please pay the registration fees.
        <p><button id="checkout-button">Checkout</button></p>
      </div>
    </div>
  </div>
</div>
  <!-- End of Registration / Course Fees Section -->

<div class="row">
  <div class="box shadow col-md-12 col-xs-12 col-sm-12">
    <div class="col-md-12 col-sm-8">
      <h4>Tuition</h4>
      <% @enrolled_students.each do |s| %>
        <% s.courses.each do |c| %>
          <div class="row">
            <div class="col-md-offset-4 col-md-6 col-xs-10 col-sm-10">
              <%= c.name %> Course Fee (<%=s.first_name%>)
            </div>
            <div class="invoice-amounts col-md-2 col-xs-2 col-sm-2">
              $<%= c.fee %>
            </div>
          </div>
<!-- WE NEED TO CHANGE THE TUITION TOTAL TO INCLUDE THE COURSE FEES -->
        <% end %>
      <% end %>
      <p>Tuition Total:  $<%= @tuition_total%></p>
    </div>
    <div id="payment-preference-section" class="row payment_preference_section">
      <%= render @payment_preference_section, tuition_total: @tuition_total %>
    </div>
  </div>
</div>
  <!-- End of Tuition section -->

  <!-- Beginning of Donation section -->
<div class="row">
  <div class="box shadow col-md-12 col-xs-12 col-sm-12">
    <div class="col-md-12 col-sm-8">
      <h4>Donation</h4>
      <div class="col-md-12 col-xs-12 col-sm-10">
        <span>Would you like to donate to the WEB scholarship fund?</span>
      </div>
    </div>
    <div class="row donation-amount-selection">
      <div class="col-md-10 col-xs-offset-1 col-xs-11">
        <%= simple_form_for(@donation, url: { controller: "invoices", action: "update_donation_amount", invoice_line_item_id: @donation.id }, remote: true) do |f| %>
          <div class="row">
            <%= f.input :quantity, as: :select, collection: %w(10 25 50 100) %>
          </div>
          <% unless current_parent.invoice_closed? %>
              <%= f.submit "Update donation amount", class: "btn-standard" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
  <!-- End Donation Section -->

  <!-- Begin Finalize Button Section -->
<% unless current_parent.invoice_closed? %>
  <% if !current_parent.tuition_preference || !current_parent.payment_preference %>
    <div class="finalize col-md-offset-1 col-md-8">
      In order to finalize your registration, you must first choose tuition payment preferences above.
    </div>
  <% else %>
    <div class="finalize col-md-offset-1 col-md-8">
      In order to finalize your registration, please pay the quickbooks invoice you will receive via email.
      <div class="row edit-parent">
        <%= link_to "Finalize Registration and Generate Invoice",
          { controller: "invoices", action: "generate_initial_invoice" },
          { class: "custom-button btn-standard", data: {
            confirm: "IMPORTANT: This will finalize your registration(s) and you will not be able to add another student.

            Subsequent changes must be made through the website (www.webtutorialnashville.com) and will incur a $10 processing fee. Press OK to continue. Press Cancel to return and make changes." } } %>

        <br><%= link_to "Click here to add another student", root_path %>
      </div
    </div>
  <% end %>
<% end %>

<script type="text/javascript">
  // Create an instance of the Stripe object with your publishable API key
  var stripe = Stripe("pk_live_51H2jFbGTkur4XSpD7Plmk3JYzi0WmIV4fvaCxgySaZvffKKx3kWJNNtdJE0QbES4kvPHcdf671NjoEIXzpS7NZ6C00H9dC0jiA");
  // var stripe = Stripe("pk_test_51H2jFbGTkur4XSpD5pU3zfSSgPtwzYTcH6MaAEYEvsudqq2pT0agYCetpiZwtkMhZwx1STYuwyTpAgimF1TvoWhC00sor13DiZ");
  var checkoutButton = document.getElementById('checkout-button');

  checkoutButton.addEventListener('click', function() {
    // Create a new Checkout Session using the server-side endpoint you
    // created in step 3.
    fetch('create_checkout_session', {
      method: 'POST',
    })
    .then(function(response) {
      return response.json();
    })
    .then(function(session) {
      return stripe.redirectToCheckout({ sessionId: session.id });
    })
    .then(function(result) {
      // If `redirectToCheckout` fails due to a browser or network
      // error, you should display the localized error message to your
      // customer using `error.message`.
      if (result.error) {
        alert(result.error.message);
      }
    })
    // .catch(function(error) {
    //   console.error('Error:', error);
    // });
  });
</script>
