<div class="row">
  <div class="col-md-offset-3 col-md-6">
    In order to reserve your <%= @enrolled_students.count > 1 ? "children's" : "child's" %> spot, please pay the registration & class fees.
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-5 invoice bordered-section">
    <div class="row">
      <div class="col-md-12">
        <div class="row invoice-title">
          <h4>Registration & Course Fees</h4>
        </div>

        <div class="row invoice-registration-fees">
          <div class="col-md-offset-2 col-md-6">
            <h5>Registrations Fees</h5>
          </div>
        </div>
        <% @enrolled_students.each do |s| %>
          <div class="row">
            <div class="col-md-offset-4 col-md-6">
              <%= s.full_name %>
            </div>
            <div class="invoice-amounts col-md-2">
              $<%= @registration_fee %>
            </div>
          </div>
        <% end %>
        <% if @discount %>
          <div class="row">
            <div class="col-md-offset-4 col-md-6">
              Family Discount (multiple enrollees)
            </div>
            <div class="invoice-amounts col-md-2">
              $<%= @discount %>
            </div>
          </div>
        <% end %>


        <div class="row invoice-course-fees">
          <div class="col-md-offset-2 col-md-6">
            <h5>Course Fees</h5>
          </div>
        </div>
        <% @enrolled_students.each do |s| %>
          <div class="row">
            <div class="col-md-offset-4 col-md-6">
              <h6><%= s.first_name.capitalize %>'s courses:</h6>
            </div>
          </div>
          <% s.courses.each do |c| %>
            <div class="row">
              <div class="col-md-offset-4 col-md-6">
                <%= c.name %>
              </div>
              <div class="invoice-amounts col-md-2">
                $<%= c.fee %>
              </div>
            </div>
          <% end %>
        <% end %>
        <div class="row invoice-total">
          <div class="col-md-offset-4 col-md-6">
            <h5>Total Due Today</h5>
          </div>
          <div class="col-md-2">
            <h5>$<%= @invoice_total %></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Registration / Course Fees Section -->

  <div class="tuition col-md-6">
    <div class="row">
      <div class="col-md-offset-1 col-md-8 bordered-section">
        <div class="row invoice-title">
          <h4>Tuition</h4>
        </div>
        <div class="row tuition-amount">
          <div class="col-md-offset-1 col-md-11">
            <h5>$<%= @tuition_total %></h5>
          </div>
        </div>
        <div id="payment-preference-section" class="row payment_preference_section">
          <%= render @payment_preference_section, tuition_total: @tuition_total %>
        </div>
      </div>
    </div>
  <!-- End of Tuition section -->

  <!-- Beginning of Donation section -->
  <div class="row">
    <div class="donate col-md-offset-1 col-md-8 bordered-section">
      <div class="row tuition-amount">
        <div class="col-md-12">
          <span>Would you like to donate to the WEB scholarship fund?</span>
        </div>
      </div>
      <div class="row donation-amount-selection">
        <div class="col-md-12">
          <%= form_for(@donation, url: { controller: "invoices", action: "update_donation_amount", invoice_line_item_id: @donation.id }, remote: true) do |f| %>
            <div class="row">
              <% %w(10 25 50 Other).each do |amount| %>
                <div class="row">
                  <div class="col-md-offset-2">
                    <%= f.radio_button :quantity, amount, checked: @checked == amount, number: (["10","25","50"].include?(amount))  %>
                    <%= f.label :quantity, amount %>
                    <% if amount == "Other" %>
                      <%= f.text_field :other_quantity, value: (@donation.quantity if amount == "Other" && @checked == "Other") %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-1 col-md-10 edit-parent">
          <%= f.submit "Update donation amount", class: "update-donation-amount" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- End Donation Section -->

  <!-- Begin Finalize Button Section -->
  <div class="finalize col-md-offset-1 col-md-8">
    In order to finalize your registration, please pay registration and course fees. A quickbooks invoice will follow via email and should be paid within 7 days.
    <div class="row edit-parent">
      <%= link_to "Finalize Registration and Generate Invoice",
        { controller: "invoices", action: "generate_initial_invoice" },
        { class: "custom-button", data: {
          confirm: "This will finalize registration for all of your students. Subsequent changes must be made through Shannon Truss and will incur a $25 processing fee. Press OK to continue .Press Cancel to return and make changes." } } %>

    </div
  </div>
</div>
