<%= render "header" %>
<div class="row">
  <div>
    <p>
      Click on a course to add it to your schedule. If you change your mind about a course at a
      specific time, you must first drop the selected course before adding the new course.
      Suggested grade for courses follows in parentheses. Please select the right course for your student based on academic level, not age. Grades provided are guidelines.
    </p>
    <ul>Some things to keep in mind:
      <li>Teacher changes are possible.</li>
      <li>As classes fill, more sections of classes may be offered and additional teachers hired.</li> 
      <li>Registering for a class does not guarantee a specific teacher.</li>
      <li>Classes must meet a minimum enrollment requirement in order to meet.</li>
    <br><span class="study-hall-alert">Students may only sign up for one study hall session per day.</span>
  </div>
</div>
<div class="row box shadow">
<!-- <div class="registration-grid"> -->
  <% @days.each do |day| %>
    <% unless day == "Tuesday/Thursday" %>
      <div class="box shadow-sm">
        <h5 id="span-<%= day %>"><%= day %> </h5>
        <div class="row" id="day-<%= day %>">
          <% @start_times.each do |time| %>
            <% unless time.strftime("%l:%M %p") == " 9:45 AM" %><div class="col-md-3" id="time-<%= time %>"><% end %>
              <div class="row">
                <div class="col-md-12">
                  <%= time.strftime("%l:%M %p") %>
                </div>
                <% if @available_sections.select { |c| c.day.include?(day) && c.start_time == time }.empty? %>
                  No classes offered at this time
                <% else %>
                  <% @available_sections.select { |c| c.day.include? day }.each do |s| %>
                    <% if s.start_time == time %>
                      <% registered = @student.registrations.where(section_id: s.id).empty? ? "" : "registered" %>
                      <% twice_a_week = s.day == "Tuesday/Thursday"? "twice_a_week" : "" %>
                      <div class="btn register-grid-class-card bordered-section col-md-12 <%= registered %> <%= twice_a_week %> " id="section-<%= s.id %>" data-section="<%= s.id %>" data-student="<%= @student.id %>">
                        <small><%= s.name.truncate(30) %> (<%= s.suggested_grade %>)</small>
                        <% if s.at_max? %>
                          <br><span><small class="alert">CLASS FULL - click to add to waitlist</small></span>
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            <% unless time.strftime("%l:%M %p") == " 9:30 AM" %></div><% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div class="row">
  <div class="col-md-12 registration-button-div">
    <%= link_to "Review Registration", { controller: "registrations", action: "review", student_id: @student.id }, class: "custom-button" %>
  </div>
</div>

<!-- Add content tag to contain the flag for a closed invoice -->
<%= content_tag :div, class: "invoice-closed", data: { closed: @closed } do %><% end %>
