<%= render "registration_header", page_title: "Choose Classes - #{@student.full_name}"%>
<div class="row">
  <div>
    <p>
      Click on a course to add it to your schedule. If you change your mind about a course at a
      specific time, you must first drop the selected course before adding the new course.
      Suggested grade for courses follows in parentheses. Please select the right course for your student based on academic level, not age. Grades provided are guidelines.
    </p>
    <ul>Some things to keep in mind:
      <li>Teacher changes are possible.</li>
      <li>As classes fill, more sections of classes may be offered and additional teachers hired.</li> 
      <li>Registering for a class does not guarantee a specific teacher.</li>
      <li>Classes must meet a minimum enrollment requirement in order to meet.</li>
    <br><span class="study-hall-alert">Students may only sign up for one study hall session per day.</span>
  </div>
</div>
<% @days.each do |day| %>
  <div class="row box shadow registration-day-box">
    <div class="col-12">
      <h3 class="day-title"><%= day.titleize %></h3>
    </div>
    <div class="row">
      <div class="col-12">
        <% @time_blocks[day.to_sym].each do |key, value| %>
          <div class="bordered-section row time-block-row">
            <div class="bordered-section time-block-header col-2">
              <span class="text"><%= value[:label_text].html_safe %></span>
            </div>
            <div class="col-10">
              <div class="row time-block-section-row">
                <% value[:sections].each do |s| %>
                  <% registered = @student.registrations.where(section_id: s.id).empty? ? "" : "registered" %>
                  <% twice_a_week = s.day == "Tuesday/Thursday"? "twice_a_week" : "" %>
                  <div class="btn register-grid-class-card bordered-section col-md-3 <%= registered %> <%= twice_a_week %> " id="section-<%= s.id %>" data-section="<%= s.id %>" data-student="<%= @student.id %>" data-registration_period="<%= @rp.id %>">
                    <small><%= s.name.truncate(30) %><br> (<%= s.suggested_grade %>)</small>
                    <% if s.at_max? %>
                      <br><div class="alert">CLASS FULL - click to add to waitlist</div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12 registration-button-div">
    <%= link_to(
      "Review Registration", 
      registrations_review_path( registration_period_id: @rp.id, student_id: @student.id), class: "custom-button" 
    )%>
  </div>
</div>

<!-- Add content tag to contain the flag for a closed invoice -->
<%= content_tag :div, class: "invoice-closed", data: { closed: @closed } do %><% end %> 
