<%= render "stripe_return_header"%>
<div class="row">
  <div class="box shadow col-md-12 col-xs-12 col-sm-12">
    <div class="col-md-11 col-sm-8">
      <%= simple_form_for(current_parent, url: registrations_update_tuition_preference_url) do |f| %>
        <h4>Payment Preferences</h4>
        <div class="col-6">
          <div class="row"> <%= f.input :tuition_preference, label: "Payment Schedule", as: :select, collection: %w(Semester Monthly) %> </div>
          <div class="row"> <%= f.input :payment_preference, label: "Payment Type", as: :select, collection: %w(Cash/Check ACH Debit/Credit)%> </div>
          <%= f.simple_fields_for :donation do |f| %>
            <div class="row">
              <%= f.input :quantity, label: "Would you like to donate to the WEB scholarship fund?", as: :select, collection: %w(10 25 50 100), html_input: { include_blank: true, selected: @checked } %>
            </div>
          <% end %>
        </div>
        <div class="row justify-content-center"><%= f.submit "Update Preferences", class: "custom-button col-6" %></div>
      </div>
    <% end %>
  </div>
</div>
