<div>
  <div class="col-md-12">
    <div class="table-wrapper">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Student</th>
            <th>Q1</th>
            <th>Q2</th>
            <th>S1</th>
            <th>Q3</th>
            <th>Q4</th>
            <th>S2</th>
          </tr>
        </thead>
        <tbody>
          <% @registrations.each do |registration| %>
            <tr>
              <%= simple_form_for registration, url: teacher_section_update_grades_path(@section, registration), method: :patch, remote: true, html: { class: "registration-form" } do |registration_form| %>
                <%= registration_form.hidden_field :id, as: :hidden, input_html: { value: registration.id } %>
                <%= registration_form.hidden_field :student_id, as: :hidden, input_html: { value: registration.student.id } %>
                <%= registration_form.hidden_field :section_id, as: :hidden, input_html: { value: registration.section.id } %>
                <td><%= registration.student %></td>
                <td>
                  <%= registration_form.simple_fields_for :quarterly_scores, registration.quarterly_scores.find_or_initialize_by(quarter: :q1) do |qs_form| %>
                    <%= qs_form.input :grade, label: false, as: :select, collection: Section.const_get(@section.grading_scale), input_html: { include_blank: true, onchange: "console.log('Q1 grade changed'); Rails.fire(this.form, 'submit');" } %>
                    <%= qs_form.hidden_field :quarter, value: :q1 %>
                  <% end %>
                </td>
                <td>
                  <%= registration_form.simple_fields_for :quarterly_scores, registration.quarterly_scores.find_or_initialize_by(quarter: :q2) do |qs_form| %>
                    <%= qs_form.input :grade, label: false, as: :select, collection: Section.const_get(@section.grading_scale), input_html: { include_blank: true, onchange: "console.log('Q2 grade changed'); Rails.fire(this.form, 'submit');" } %>
                    <%= qs_form.hidden_field :quarter, value: :q2 %>
                  <% end %>
                </td>
                <td><%= registration.s1_average %></td>
                <td>
                  <%= registration_form.simple_fields_for :quarterly_scores, registration.quarterly_scores.find_or_initialize_by(quarter: :q3) do |qs_form| %>
                    <%= qs_form.input :grade, label: false, as: :select, collection: Section.const_get(@section.grading_scale), input_html: { include_blank: true, onchange: "console.log('Q3 grade changed'); Rails.fire(this.form, 'submit');" } %>
                    <%= qs_form.hidden_field :quarter, value: :q3 %>
                  <% end %>
                </td>
                <td>
                  <%= registration_form.simple_fields_for :quarterly_scores, registration.quarterly_scores.find_or_initialize_by(quarter: :q4) do |qs_form| %>
                    <%= qs_form.input :grade, label: false, as: :select, collection: Section.const_get(@section.grading_scale), input_html: { include_blank: true, onchange: "console.log('Q4 grade changed'); Rails.fire(this.form, 'submit');" } %>
                    <%= qs_form.hidden_field :quarter, value: :q4 %>
                  <% end %>
                </td>
                <td><%= registration.s2_average %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= button_to 'Publish Grades', teacher_section_publish_grades_path(@section.teachers.first, @section), method: :patch, class: 'btn btn-primary' %>
</div>