<div><h2><%= @section.name %></h2><div>
<div class="btn btn-primary"><%= link_to "View Gradebook", teacher_section_gradebook_path(teacher_id: @teacher.id, section_id: @section.id) %></div>
<div class="row">
	<div class="col-md-12">
		<div class="table-wrapper">
			<table class="table table-hover">
			<thead>
				<tr>
					<th>Student</th>
          <th>Pronouns</th>
          <th>Grade Level</th>
          <th>Registered Parent</th>
					<th>Parent Emails</th>
          <th>Learning Differences</th>
				</tr>
			</thead>
			<tbody>
        <% @section.students.order(last_name: :asc).each do |s| %>
          <tr>
            <td>
              <%= s.full_name %>
            </td>
            <td>
              <%= s.pronouns %>
            </td>
            <td>
              <%= s.grade %>
            </td>
            <td>
              <%= s.parent.full_name %>
            </td>
            <td>
              <%= s.parent.email %>
              <% unless s.parent.secondary_email.nil? %>
                <br><%= s.parent.secondary_email %>
              <% end %>
            </td>
            <td>
              <% unless s.learning_differences_form.nil? %>
                <%= link_to "View", student_learning_differences_form_path(student_id: s.id, id: s.learning_differences_form.id) %>
              <% end %>
            </td>  
          </tr>
        <% end %>
			</tbody>
			</table>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-9">
		<div class="table-wrapper">
      <h3>Copyable Parent Emails</h3>
      <div>
        <% @section.students.order(last_name: :asc).each do |s| %>
          <%= s.parent.email %>, 
          <% unless s.parent.secondary_email.nil? %>
            <%= s.parent.secondary_email %>, 
          <% end %>
        <% end %>
      </div>
		</div>
	</div>
</div>
