<h2><%= @section.name %></h2>
<div class="row">
	<div class="col-md-9">
		<div class="table-wrapper">
			<table class="table table-hover">
			<thead>
				<tr>
					<th>Student</th>
          <th>Pronouns</th>
          <th>Registered Parent</th>
					<th>Parent Emails</th>
				</tr>
			</thead>
			<tbody>
        <% @section.students.order(last_name: :asc).each do |s| %>
          <tr>
            <td>
              <%= s.full_name %>
            </td>
            <td>
              <%= s.pronouns %>
            </td>
            <td>
              <%= s.parent.full_name %>
            </td>
            <td>
              <%= s.parent.email %>
              <% unless s.parent.secondary_email.nil? %>
                <br><%= s.parent.secondary_email %>
              <% end %>
            </td>
          </tr>
        <% end %>
			</tbody>
			</table>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-9">
		<div class="table-wrapper">
      <h3>Copyable Parent Emails</h3>
      <div>
        <% @section.students.order(last_name: :asc).each do |s| %>
          <%= s.parent.email %>, 
          <% unless s.parent.secondary_email.nil? %>
            <%= s.parent.secondary_email %>, 
          <% end %>
        <% end %>
      </div>
		</div>
	</div>
</div>
