<div class="row">
  <div class="new-enrollment-form card col-md-offset-3"
    <h1 class="new-enrollment-form">2018-19 WEB Enrollment</h1>
  </div>
  <h2 class='student-form'>First, tell us about your student</h2>
  <h5 class="new-enrollment-form">Fields mark with * are required</h5>
    <%= form_for(@student,url: { action: "student_info", id: @student.id }, html: { class: "new-student-form" }) do |f| %>
      <% if @errors %>
        <% @errors.each do |e| %>
          <div class="alert error-section"><%= e %></div>
        <% end %>
      <% end %>
      <!-- student information section -->
      <div class="row">
        <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 bordered-section">
          <div class="form-group col-md-offset-2 col-md-4 col-sm-6">
            <div class="row">
              <div class="col-12">
                <%= f.label :first_name, class: "required" %>
              </div>
              <div class="col-12">
                <%= f.text_field :first_name %><br />
              </div>
            </div>
          </div>

          <div class="form-group col-md-4 col-sm-6">
            <div class="row">
              <div class="col-12">
                <%= f.label :last_name, class: "required" %>
              </div>
              <div class="col-12">
                <%= f.text_field :last_name %><br />
              </div>
            </div>
          </div>

          <div class="form-group col-md-offset-2 col-md-4">
            <div class="row">
              <div class="col-12">
                <%= f.label :student_email %>
              </div>
              <div class="col-12">
                <%= f.text_field :student_email %><br />
              </div>
            </div>
          </div>

          <div class="form-group col-md-offset-2 col-md-8 col-sm-12">
            <div class="row">
              <div class="col-12">
                <%= f.label "Student's Grade (2020/21)", class: "required" %>
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-md-offset-1"></div>
                  <% (5..12).each do |grade_level| %>
                    <div class="enrollment-form-radio-group col-md-1 col-sm-1">
                      <div class="enrollment-form-radio-button">
                        <%= f.radio_button :grade, grade_level %><br />
                      </div>
                    </div>
                    <div class="enrollment-form-radio-group col-md-1 col-sm-1">
                      <div class="enrollment-form-radio-label">
                        <%= f.label "grade_#{grade_level}", grade_level %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group col-md-offset-2 col-md-8">
            <div class="col-12 ">
              <%= f.label :date_of_birth, class: "required" %>
            </div>
            <div class="row nativeDatePicker">
              <div class="col-12">
                <%= f.date_field :date_of_birth %><br />
              </div>
            </div>
            <div class="row">
              <div class="col-12 fallbackDatePicker">
                <span>
                  <label for="day">Day:</label>
                  <select id="day" name="day">
                  </select>
                </span>
                <span>
                  <label for="month">Month:</label>
                  <select id="month" name="month">
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                  </select>
                </span>
                <span>
                  <label for="year">Year:</label>
                  <select id="year" name="year">
                  </select>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End student information section -->

      <!-- Parent Information section -->
      <div class="row">
        <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 bordered-section">
          <div class="form-group col-md-offset-2 col-md-4">
            <div class="row">
              <div class="col-12">
                <%= f.label "Parent Email" %>
              </div>
              <div class="col-12">
                <%= f.text_field :parent_email, { value: current_parent.email, readonly: true } %><br />
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <div class="row">
              <div class="col-12">
                <%= f.label "Parent Name" %>
              </div>
              <div class="col-12">
                <%= f.text_field :parent_name, { value: current_parent.full_name, readonly: true } %><br />
              </div>
            </div>
          </div>

          <div class="form-group col-md-offset-2 col-md-4">
            <div class="row">
              <div class="col-12">
                <%= f.label "Parent Phone" %>
              </div>
              <div class="col-12">
                <%= f.phone_field :parent_phone, { value: current_parent.phone_number, readonly: true } %><br />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end parent information section -->

      <!-- additional information section -->
      <div class="row">
        <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 bordered-section">
          <div class="form-group col-md-offset-2 col-md-8">
            <div class="row">
              <div class="col-12 long-label">
                <%= f.label "Does your child have any learning differences or requirements?" %>
                <p class="learning-differences-description"> If so, please give a brief description below. All information shared here is confidential and will only be shared with your child's teachers.</p>
              </div>
              <div class="col-12">
                <%= f.text_area :learning_differences %><br />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 bordered-section">
          <div class="form-group col-md-offset-2 col-md-4">
            <div class="row">
              <div class="col-12">
                <%= f.label :emergency_contact, class: "required" %>
              </div>
              <div class="col-12">
                <%= f.text_field :emergency_contact %><br />
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <div class="row">
              <div class="col-12">
                <%= f.label :emergency_phone, class: "required" %>
              </div>
              <div class="col-12">
                <%= f.text_field :emergency_phone %><br />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- end additional information section -->
        <div class="col-md-offset-5 col-md-2 col-sm-offset-5 col-sm-2">
         <%= f.submit "Save", class: "custom-button" %>
       </div>
      </div>
  <% end %>
</div>
