<div class="mailer" style="font-family: futura">
Dear <%= @parent.full_name %>,

<p> Thank you for enrolling for WEB classes for the 2019-20 school year!</p>

<p><% @parent.registered_students.each do |student| %>
  <%= student.full_name %> is enrolled in the following classes:
  <% %w(Tuesday Thursday).each do |day| %>
    <% unless student.daily_schedule(day).empty? %>
      <p>
    <% end %>
    <% student.daily_schedule(day).each do |course| %>
      <div class="row course">
        - <%= course.day %>, <%= course.start_time.strftime("%l:%M %p") %>-<%= course.end_time.strftime("%l:%M %p") %> <%= course.name %>
      </div>
    <% end %>
    <% unless student.daily_schedule(day).empty? %>
      </p>
    <% end %>
  <% end %>
  <% unless student.wait_listed_courses.empty? %>
    <p>Wait List: <%= student.wait_listed_courses.map { |course| course.name }.join(", ") %></p>
  <% end %>
<% end %>


<p>You have elected to pay <%= @parent.tuition_preference %> and to make registration and tuition payments via <%= @parent.payment_preference %>.

<p>You have until midnight tomorrow to make changes to the registration free of charge. Any changes made after this time will incur a $25 fee.

<p>An invoice for <%= @invoice.total_due %> will be issued via Quickbooks and delivered via email. You may pay this invoice via the payment method indicated above.

<p>To complete your family’s registration, this invoice must be paid by April 1 or alternate arrangements made with Shannon Truss. After that point, your registration will be canceled and your student will not be guaranteed a spot in the classes listed above.

<p>Tuition will be due in August and is billed separately from your non-refundable registration fees.

<p>Whether you are a new or returning WEB family, please plan to join us on Thursday, May 7 from 10:00-12:30 for WEB’s annual picnic at Dalewood UMC.

<p>We look forward to having you at WEB in 2020-21!

<p>Shannon Truss & Becky Sekeres<br>
Directors, WEB<br>
</div>
