<div class="mailer" style="font-family: futura">
Dear <%= @parent.full_name %>,
Thank you for enrolling for WEB classes for the 2025/26 academic year!

<p>Please complete the following enrollment forms in order to complete your registration:</p>
<ul>
  <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdueEmHJoVsjpHd5uqqPB2M8EGrPiQEZykvIol8EZhay75_7A/viewform?usp=preview" target="_blank">WEB Tutorial 2025-26 Parent Agreement</a></li>
  <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfklDfRG093gh9Xq5QVIKXOB5EMNCS_hC1oLmSrYf7z-v6ccw/viewform?usp=dialog" target="_blank">Medical and Photo Consent</a></li>
  <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSctckCQZMTFwzwDPpPSK1qmugUNxuEmm2OlB_q7QhOqO5FeMA/viewform?usp=dialog" target="_blank">Liability Waiver</a></li>
</ul>



I AM RIGHT HERE IN UPDATING THE CONFIRMATION EMAIL




<p>Your student, <%= @student.full_name %>, is enrolled in the following classes:</p>
<p><% @parent.registered_students(@rp).each do |student| %>
  <%= student.full_name %> is enrolled in the following classes:
  <% %w(Tuesday Thursday).each do |day| %>
    <% unless student.daily_schedule(day, @rp).empty? %>
      <p>
    <% end %>
    <% student.daily_schedule(day, @rp).each do |section| %>
      <div class="row course">
        - <%= section.day %>, <%= section.start_time.strftime("%l:%M %p") %>-<%= section.end_time.strftime("%l:%M %p") %> <%= section.name %>
      </div>
    <% end %>
    <% unless student.daily_schedule(day, @rp).empty? %>
      </p>
    <% end %>
  <% end %>
  <% unless student.wait_listed_sections.empty? %>
    <p>Wait List: <%= student.wait_listed_sections.map { |section| section.name }.join(", ") %></p>
  <% end %>
<% end %>

<p>
  You have elected to pay <%= @parent.tuition_preferences.find_by(registration_period: @rp).frequency %> and to make class fees and tuition 
  payments via <%= @parent.tuition_preferences.find_by(registration_period: @rp).payment_method %>.
</p>

<p>
  You will receive an invoice for class fees, which are due in May.
</p>

<p>
  Tuition will be due on August 15 and is billed separately from your non-refundable registration 
  fees.
</p>

<p>
  Class changes can be requested via the WEB portal at portal.webtutorialnashville.com.
</p>

<p>
  Please note that, as stated in the Parent Agreement, any drops or withdrawals must be made 
  by July 1st in order to be excused from paying tuition. After this date, tuition will be
  due in full for all classes in which your student is enrolled.
</p>

<p>
  Save the date: We will have a popsicle picnic at Two Rivers Park on July 20, 4:30-6:30 PM.
  Details will be sent via email in July.
</p>

<p>
  Please remember that you will need to register either with the school district or an umbrella 
  school before the beginning of the academic year. For more information, see the FAQs section 
  of our website - https://www.webtutorialnashville.com/faqs
</p>

<p>
  We look forward to having you at WEB in 2024/25!
</p>

<p>Senae Smith<br>
Executive Director, WEB<br>
</div>
