<div class="mailer" style="font-family: futura">
Dear <%= @parent.full_name %>,
Thank you for enrolling for WEB classes for the 2022/23 school year!

<p><% @parent.registered_students.each do |student| %>
  <%= student.full_name %> is enrolled in the following classes:
  <% %w(Tuesday Thursday).each do |day| %>
    <% unless student.daily_schedule(day).empty? %>
      <p>
    <% end %>
    <% student.daily_schedule(day).each do |section| %>
      <div class="row course">
        - <%= section.day %>, <%= section.start_time.strftime("%l:%M %p") %>-<%= section.end_time.strftime("%l:%M %p") %> <%= section.name %>
      </div>
    <% end %>
    <% unless student.daily_schedule(day).empty? %>
      </p>
    <% end %>
  <% end %>
  <% unless student.wait_listed_sections.empty? %>
    <p>Wait List: <%= student.wait_listed_sections.map { |section| section.name }.join(", ") %></p>
  <% end %>
<% end %>

<p>You have elected to pay <%= @parent.tuition_preference %> and to make registration and tuition payments via <%= @parent.payment_preference %>.

<p>You will receive an invoice for class fees.</p>

<p>Tuition will be due on August 4 and is billed separately from your non-refundable registration fees.</p>

<p>
  To request changes to your student's schedule:
  To change a class: <a href="http://www.webtutorialnashville.com/registration-changes/changeclass" target="_blank">Click here</a>
  To add a class: <a href="http://www.webtutorialnashville.com/registration-changes/add-a-class" target="_blank">Click here</a>
  To drop a class: <a href="http://www.webtutorialnashville.com/registration-changes/drop-class" target="_blank">Click here</a>
</p>
<p>
  Please complete the following enrollment forms before May 1:
  Medical Form: <a href="http://www.webtutorialnashville.com/medical-form" target="_blank">Click here</a>
  Photo Consent: <a href="http://www.webtutorialnashville.com/photo-consent" target="_blank">Click here</a>
  Parent Agreement: <a href="http://www.webtutorialnashville.com/parent-agreement" target="_blank">Click here</a>
  Release of Liability: <a href="http://www.webtutorialnashville.com/release-of-liability" target="_blank">Click here</a>
</p>

<p>We look forward to having you at WEB in 2022/23!

<p>Senae Smith<br>
Executive Director, WEB<br>
</div>
