Dear <%= @parent.full_name %>,
Thank you for enrolling for WEB classes for the 2022/23 school year!

<% @parent.registered_students.each do |student| %>
  <%= student.full_name %> is enrolled in the following classes:
  <% %w(Tuesday Thursday).each do |day| %>
    <% unless student.daily_schedule(day).empty? %>
    <% end %>
    <% student.daily_schedule(day).each do |section| %>
        - <%= section.day %>, <%= section.start_time.strftime("%l:%M %p") %>-<%= section.end_time.strftime("%l:%M %p") %> <%= section.name %>
    <% end %>
    <% unless student.daily_schedule(day).empty? %>
    <% end %>
  <% end %>
  <% unless student.wait_listed_sections.empty? %>
    Wait List: <%= student.wait_listed_sections.map { |section| section.name }.join(", ") %>
  <% end %>
<% end %>

You have elected to pay <%= @parent.tuition_preference %> and to make registration and tuition payments via <%= @parent.payment_preference %>.

You will receive an invoice for class fees.</p>

Tuition will be due on August 4 and is billed separately from your non-refundable registration fees.</p>


  To request changes to your student's schedule:
  To change a class: www.webtutorialnashville.com/registration-changes/changeclass
  To add a class: www.webtutorialnashville.com/registration-changes/add-a-class
  To drop a class: www.webtutorialnashville.com/registration-changes/drop-class

  Please complete the following enrollment forms before May 1:
  Medical Form: www.webtutorialnashville.com/medical-form
  Photo Consent: www.webtutorialnashville.com/photo-consent
  Parent Agreement: www.webtutorialnashville.com/parent-agreement
  Release of Liability: www.webtutorialnashville.com/release-of-liability

We look forward to having you at WEB in 2022/23!

Senae Smith
Executive Director, WEB
