Dear <%= @parent.full_name %>,
Thank you for enrolling for WEB classes for the 2023/24 school year!

<% @parent.registered_students(@rp).each do |student| %>
  <%= student.full_name %> is enrolled in the following classes:
  <% %w(Tuesday Thursday).each do |day| %>
    <% unless student.daily_schedule(day, @rp).empty? %>
    <% end %>
    <% student.daily_schedule(day, @rp).each do |section| %>
        - <%= section.day %>, <%= section.start_time.strftime("%l:%M %p") %>-<%= section.end_time.strftime("%l:%M %p") %> <%= section.name %>
    <% end %>
    <% unless student.daily_schedule(day, @rp).empty? %>
    <% end %>
  <% end %>
  <% unless student.wait_listed_sections.empty? %>
    Wait List: <%= student.wait_listed_sections.map { |section| section.name }.join(", ") %>
  <% end %>
<% end %>

You have elected to pay <%= @parent.tuition_preferences.find_by(registration_period: @rp) %> and to make registration and tuition payments via <%= @parent.tuition_preferences.find_by(registration_period: @rp) %>.

You will receive an invoice for class fees.</p>

Tuition will be due on August 4 and is billed separately from your non-refundable registration fees.</p>

We look forward to having you at WEB in 2024/25!

Senae Smith
Executive Director, WEB
