<!DOCTYPE html>
<html>
<head>
  <title>WEB</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if current_parent && current_parent.invoice.closed? %>
  <p class="notice">Initial Invoice has been finalized. No further changes may be made. If you need further assistance, contact Shannon Truss at webtutorial2013@gmail.com </p>
<% end %>
  <body>
    <div id="canvas">
      <header class="row">
        <div id="logo" data-content-field="site-title" class="col-sm-12">
           <h3 class="logo col-sm-12" data-shrink-original-size="32" style="letter-spacing: 0.125em;"><a href="/">WEB Tutorial {Nashville}</a></h3>
          <div class="tagline">Weekday Eastside Bridge</div>
        </div>
        <div class="container nav-container">
          <nav>
            <ul class="nav navbar-nav navbar-right col-xs-12">
              <div class="row">
                <li class="col-md-offset-8 col-md-1 col-xs-4 inline"><%= link_to "Home", root_path %></li>
                <li class="col-md-2 col-xs-4 inline">
                  <% if current_parent %>
                    <%= link_to "Sign Out", destroy_parent_session_path, method: :delete, class: "inline" %>
                  <% else %>
                    <%= link_to "Log in", new_parent_session_path, method: :get, class: "inline" %>
                  <% end %>
                </li>
              </div>

            </ul>
          </nav>
        </div>
      </header>
      <div class="container content-container">
        <%= yield %>
      </div>
    </div>
    <!-- / #canvas -->
  </body>
</html>
